body {
    margin: 10px;
    padding: 10px;
    background-color: #d9f7f7;
}

#dateTable {
    background-color: cornflowerblue;
    border: solid 1px black;
    widtht: 50px;
    height: 25px;
}

.addingGood {
    display: inline;
}

#forTime {
    width: 10%;
    height: 50px;
    margin-bottom: 5px;
    border: solid 1px black;
    background-color: #ec95a3;
    font-size: 22px;
    float: right;
    clear: both;
    display: block;
}

#checkTable {
    width: 25%;
    height: 25%;
    background-color: #fff4a8;
    border: solid 2px black;
}

.checkItems {
    font-family: Caption;
    font-size: 24px;
    font-style: italic;
    color: black;
}